{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s8 offset-s4">
            <h1>Email sender</h1>
            <p>
                Email sender is a service that can help you to send<br/>
                you email annonymously.
            </p>
        </div>
    </div>


{% endblock %}